<div class="flex py-14 ">

  <div class="flex flex-col w-80 mx-auto">
    <h2 class="text-2xl text-darkBlue font-normal">Tu informacion</h2>
    <span class="text-darkGray text-base font-extralight">Completa la siguiente informacion para completar tu perfil</span>
    <form [formGroup]="formProfile" class="w-full">
      <!-- Name -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput placeholder="Ex. Marvin" required>
        <mat-error *ngIf="formProfile.get('name')?.invalid">Este valor es requerido</mat-error>
      </mat-form-field>

      <!-- Pasatiempio -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Pasatiempo favorito</mat-label>
        <mat-chip-list #chipList aria-label="hobbie selection">
          <mat-chip
            *ngFor="let hobbie of hobbies"
            (removed)="remove(hobbie)">
            {{hobbie}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder=""
            #hobbieInput
            formControlName="hobbie"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let hobbie of filteredHobbies | async" [value]="hobbie">
            {{hobbie}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- DatePicker -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Cumpleaños</mat-label>
        <input formControlName="birthday" matInput [matDatepicker]="picker">
       <mat-error *ngIf="formProfile.get('birthday')?.invalid">Este valor es requerido</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="outline">
        <mat-label>DNI</mat-label>
        <input [textMask]="{mask: mask}" formControlName="DNI" matInput required>
        <mat-error *ngIf="formProfile.get('DNI')?.invalid">Usted es mayor de edad, valor requerido</mat-error>
      </mat-form-field>
      <div class="flex w-full justify-center">
        <button type="button" [disabled]="formProfile.invalid" [ngClass]="{'bg-darkBlue text-white ': formProfile.valid, 'bg-buttonGray text-darkGray': formProfile.invalid}" class="rounded-md px-12 py-2 font-semibold text-lg" (click)="saveProfile()">Continuar</button>
      </div>

    </form>
  </div>

</div>